/* .geo {
    font-family: Georgia, "Times New Roman", serif; 
}

.verdana {
    font-family: Verdana, Tahoma, sans-serif; 
} */

body {
    font-family: Verdana, Tahoma, sans-serif; 
}

.content-wrapper {
    width: 960px;
    margin: auto;
}

.brown {
    color: #f95105;
}

.grey {
    color: #656565;
}

.grey-light {
    color: #5c5c5c;
}

.black {
    color: #343434;
}

.brown-menu {
    list-style-type: none;
    color: #f95105;
    font-family: Verdana, Tahoma, sans-serif; 
    font-weight: bold;
    padding: 0;
}

.brown-menu li {
    display: inline;
    border-right: 2px solid #f95105;
    padding: 0 10px;
}

.brown-menu li:first-child {
    padding-left: 0;
}

.brown-menu li:last-child {
    border-right: none;
    padding-right: 0;
}
/* 
.ht-left-menu,
.ht-right-menu {
    display: inline-block;
    width: 49%;
} */

.h-top {
    display: flex;
    justify-content: space-between;
}

.ht-right-menu {
    text-align: right;
}

.h-top {
    border-bottom: 1px solid #bbbbbb;
}

.h-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.h-middle .hm-left {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #656565;
}

.h-middle .hm-left h1 {
    font-size: 42px;
}

.h-middle .hm-left h5 {
    text-transform: capitalize;
}

.h-middle .hm-left h1,
.h-middle .hm-left h5 {
    margin: 0;
    font-weight: normal;
}

.h-bottom {
    display: flex;
    justify-content: space-between;
    background-color: #5c5c5c;
    margin-top: 15px;
    align-items: center;
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 22px;
}

.main-menu li {
    display: inline-block;
    padding: 18px;
    color: #fff;
    font-size: 14px;
}

.main-menu li:hover {
    background-color: #f95105;
    cursor: pointer;
}

.search-form {
    padding-right: 22px;
}

.search-form input {
    border: 1px solid #343434;
    padding: 7px 12px;
}

.search-form .sf-submit {
    text-transform: uppercase;
    background-color: #f95105;
    color: #fff;
    border: 1px solid #343434;
    padding: 8px 12px;
    line-height: 1em;
}